@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
body {
  background-color: blueviolet;
  user-select: none;
}
.continair {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0px auto;
  background-color: white;
}
nav {
  height: 67px;
  border-bottom: 2px solid #c6c6c6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
}
nav img {
  border-radius: 50%;
}
img {
  cursor: pointer;
}
.card-img img,
.card-img video {
  width: 100%;
}
i {
  font-size: 25px;
}
.card-top {
  margin: 10px 0px 10px 0px;
  padding: 5px 15px;
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.post-card {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 5px solid #c6c6c6;
}

.card-top img {
  border-radius: 50%;
}
.user-info {
  display: flex;
  flex-direction: column;
  width: 348px;
}
.name-lastName {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
.loction {
  font-size: 12px;
}
.card-like-sec {
  height: 78px;
  width: 346px;
  padding: 21px 19px 10px 10px;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 15px;
  margin-bottom: 10px;
}
.icons {
  margin-top: 10px;
  width: 104px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.likes {
  font-size: 13px;
}
.desc {
  font-size: 16px;
  font-weight: 300;
  height: fit-content;
}

.user-name {
  margin-right: 5px;
  font-weight: 600;
  font-size: 15px;
}
@media only screen and (max-width: 550px) {
  .continair {
    width: 100%;
  }
  .card-img img,
  .card-img video {
    width: 100%;
  }
}

.posting {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
}
.posting-top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.posting-top input {
  padding: 10px 15px;
  font-size: 16px;
  width: 350px;
  color: #000000ec;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #65676b34;
}
.posting-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.posting-bottom span {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.posting-bottom span i {
  font-size: 20px;
}

#files,
#input-go-live {
  display: none;
}
